/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/* app/assets/stylesheets/styles.css */

body {
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container-bla {
  text-align: center;
  margin: 10px auto;
  width: 250px;
}

.card {
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  color: #333;
}

.input-group {
  margin-top: 15px;
}

.form-control {
  width: 70%;
}

.btn-primary {
  width: 30%;
}

/* Add styles for the randomly generated letters */
.random-letters {
  margin-top: 15px;
}

.random-letter-badge {
  margin: 5px;
  font-size: 18px;
  padding: 10px;
}
